# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# ts
tsconfig.tsbuildinfo

jsconfig.json

.idea
next-env.d.ts
.vscode/settings.json
